<%# <p></p>

<p></p>
 %>

 
<div class="card border-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header"><em>You:</em></div>
  <div class="card-body text-secondary">
    <p class="card-text"><%= @question %></p>
  </div>
</div>
<div class="card border-success mb-3" style="max-width: 18rem;">
  <div class="card-header"><em>Your Coach:</em></div>
  <div class="card-body text-success">
    <p class="card-text"><%= @answer %></p>
  </div>
</div>

<button type="submit" class="btn btn-info mb-2"><%= link_to "", ask_path %>Ask a new question!</button>
