// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

$gray: #F4F4F4;

body {
  background: white; // Using this variable
}
.banner {
  background: red;
  h1 {
    font-size: 50px;
  }
}
a {
  color: grey;
  &:hover {
    color: black;
  }
}
.flex-white {
 display: flex;
 width: 40;
 height: 320;
}
.container {
  width: 100vh;
  height: 50vh;
}